In [6]:
import pandas as pd

# Merging all data to an object and sending to database
movies = pd.read_csv("data/final_data/movies.csv")

# dropping imdb_id column as it is not needed
movies.drop(columns=["imdbId"], inplace=True)

print(movies.columns)
movies

Index(['titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear',
       'endYear', 'runtimeMinutes', 'genres', 'movieId', 'tmdbId'],
      dtype='object')

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,movieId,tmdbId
0,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1.0,"Comedy,Short",95541,16624.0
1,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0.0,1894.0,NaN,1.0,"Documentary,Short",88674,105158.0
2,short,Leaving the Factory,La sortie de l'usine Lumière à Lyon,0.0,1895.0,NaN,1.0,"Documentary,Short",120869,774.0
3,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0.0,1896.0,NaN,1.0,"Documentary,Short",98981,160.0
4,short,The Waterer Watered,L'arroseur arrosé,0.0,1895.0,NaN,1.0,"Comedy,Short",113048,82120.0
...,...,...,...,...,...,...,...,...,...,...
26689,movie,Crazy Beautiful You,Crazy Beautiful You,0.0,2015.0,NaN,114.0,"Comedy,Drama,Romance",130089,327225.0
26690,movie,Bikes vs Cars,Bikes vs Cars,0.0,2015.0,NaN,90.0,Documentary,129822,324260.0
26691,movie,Polskie gówno,Polskie gówno,0.0,2014.0,NaN,93.0,"Comedy,Musical",128734,NaN
26692,short,Power Rangers,Power Rangers,0.0,2015.0,NaN,14.0,"Action,Sci-Fi,Short",130842,327029.0
26693,tvSpecial,Aziz Ansari Live in Madison Square Garden,Aziz Ansari Live in Madison Square Garden,0.0,2015.0,NaN,58.0,Comedy,131017,326665.0

In [ ]:
# calling tmdb api to get remaining data
import requests
import json
import time

# getting api key from file
with open("api_key.txt", "r") as f:
    api_key = f.read()